*~

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
main
tests/bin/*

# Eclipse
.cproject
.project

# Ignore generated matrices, a user will generate them by itself
./tests/matrices/generated/*

# LaTeX
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fls
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.loa
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

