# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
main

# Eclipse
.cproject
.project

# Ignore generated matrices, a user will generate them by itself
./tests/matrices/generated
